@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container {
    width: 100%;
    height: 100vh;
    background-color: rgb(250, 247, 247);
}

.image-img {
    background: url('img/bb11.jpg') no-repeat;
    background-position: center;
    background-size: cover;
    width: 400px;
    height: 510px;
    border-radius: 10px;
}

.template-img {
    width: 860px;
    height: 540px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 6px -1px rgb(185, 181, 181);
}

.top-container {
    padding-top: 20px;
}

.atur-img {
    padding-left: 15px;
    padding-top: 15px;
}


.bg-image {
    padding-left: 233px;
}

.item-center h2 {
    color: #a70fc5;
}

.histo {
    color: #28a7e2;
}

.ria {
    color: #4ae1e4;
}

.row-card {
    display: flex;
    flex-direction: row;
}

.text-judul {
    justify-content: center;
    align-items: center;
}

.item-center {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 87px;
    padding-top: 30px;
}

.sign-intext {
    padding-left: 25px;
    padding-top: 15px;
}

.sign-intext h4 {
    color: rgb(255, 151, 33);
    font-size: 16px;
    font-weight: 700;
}

.top-form {
    padding-top: 20px;
    padding-left: 20px;
}

.top-form1 {
    padding-top: 25px;
    padding-left: 37px;
}

.row-form {
    display: flex;
    flex-direction: row;
    gap: 7px;
}

.border-form {
    width: 300px;
    height: 40px;
    border-bottom: 1px solid #d8d8d8;
}

.email {
    color: #a70fc5;
    font-size: 20px;
    padding-left: 5px;
    padding-top: 12px;
}

.input-text {
    padding-top: 3px;
}

.input-text input {
    width: 260px;
    height: 40px;
    border: none;
    background: none;
    outline: none;
}

.input-text input::placeholder {
    color: #b8b2b2;
}

.hi-text {
    padding-top: 20px;
    padding-left: 20px;
}

.check-box {
    padding-left: 37px;
    padding-top: 15px;
    display: flex;
    flex-direction: row;
}

.remember-me {
    padding-left: 10px;
    font-size: 13px;
    color: #423f3f;
    padding-top: 4px;
}

.forgot-pass {
    padding-left: 100px;
}

.forgot-pass a {
    font-size: 13px;
    text-decoration: none;
    color: #2a5ff1;
}

.input-check {
    padding-top: 1px;
}

.button-login {
    padding-top: 20px;
    padding-left: 55px;
}

.input-login input {
    width: 280px;
    height: 38px;
    border-radius: 20px;
    outline: none;
    border: none;
    background-color: blueviolet;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
}

.garis-kiri {
    width: 143px;
    height: 1px;
    background-color: #8f8989;
}

.atur-garisnya {
    padding-top: 14px;
}

.garis-or {
    padding-top: 20px;
    padding-left: 35px;
    display: flex;
    flex-direction: row;
    gap: 12px;
}

.social-media h4 {
    font-size: 13px;
    color: #504e4e;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 14px;
    padding-top: 20px;
}

.image1-sos img {
    width: 30px;
    height: 30px;
    border-radius: 4px;
}

.image1-sos {
    padding-top: 10px;
}

.row-social {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding-left: 12px;
}


.sign-up {
    padding-top: 10px;
    padding-left: 30px;
    display: flex;
    flex-direction: row;
    gap: 6px;
}

.sign-text {
    font-size: 13px;
}

.sign-link {
    font-size: 13px;
    text-decoration: none;
}

/* dari sini ya */
.session {
    padding-top: 10px;
    padding-left: 40px;
    font-size: 12px;
    font-weight: 600;
}

.session-login {
    padding-left: 40px;
    font-size: 14px;
    font-weight: 600;
    color: red;
}

.nameform {
    font-size: 13px;
    color: red;
}

/* untuk hp cuy , jangan salaah dih */
@media only screen and (max-width: 600px) {
    .sign-up {
        padding-top: 10px;
        padding-left: 23px;
        display: flex;
        flex-direction: row;
        gap: 6px;
    }

    .sign-text {
        font-size: 16px;
        color: #423f3f;
    }

    .sign-link a {
        font-size: 16px;
        text-decoration: none;
        color: #2a5ff1;
    }

    .image1-sos {
        padding-top: 15px;
    }

    .row-social {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 30px;
        padding-left: 12px;
    }

    .social-media h4 {
        font-size: 20px;
        color: #504e4e;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: 14px;
        padding-top: 30px;
    }

    .image1-sos img {
        width: 45px;
        height: 45px;
        border-radius: 7px;
    }

    .garis-kiri {
        width: 148px;
        height: 1px;
        background-color: #8f8989;
    }

    .atur-garisnya {
        padding-top: 14px;
    }

    .garis-or {
        padding-top: 20px;
        padding-left: 23px;
        display: flex;
        flex-direction: row;
        gap: 12px;
    }

    .button-login {
        padding-top: 25px;
        padding-left: 60px;
    }

    .input-login input {
        width: 250px;
        height: 40px;
        border-radius: 20px;
        outline: none;
        border: none;
        background-color: blueviolet;
        color: #fff;
        font-size: 15px;
        cursor: pointer;
    }

    .check-box {
        padding-left: 23px;
        padding-top: 25px;
        display: flex;
        flex-direction: row;
    }

    .remember-me {
        padding-left: 10px;
        font-size: 13px;
        color: #423f3f;
        padding-top: 4px;
    }

    .forgot-pass {
        padding-left: 108px;
    }

    .forgot-pass a {
        font-size: 13px;
        text-decoration: none;
        color: #2a5ff1;
    }

    .input-check {
        padding-top: 1px;
    }

    .text-judul {
        justify-content: center;
        align-items: center;
    }

    .template-img {
        width: 420px;
        height: 550px;
        background-color: rgb(255, 255, 255);
        background-color: #fff;
        border-radius: none;
        box-shadow: none;

    }

    .top-form {
        padding-top: 30px;
        padding-left: 22px;
    }

    .top-form1 {
        padding-top: 30px;
        padding-left: 22px;
    }

    .row-form {
        display: flex;
        flex-direction: row;
        gap: 7px;
    }

    .border-form {
        width: 340px;
        height: 45px;
        background-color: #fff;
        box-shadow: 0 4px 6px -1px rgb(192, 187, 187);
    }

    .email {
        color: #a70fc5;
        font-size: 20px;
        padding-left: 5px;
        padding-top: 11px;
    }

    .input-text {
        padding-top: 2px;
    }

    .input-text input {
        width: 310px;
        height: 45px;
        border: none;
        background: none;
        outline: none;
    }

    .input-text input::placeholder {
        color: #b8b2b2;
    }

    .sign-intext {
        padding-left: 105px;
        padding-top: 15px;
    }

    .sign-intext h4 {
        color: rgb(255, 151, 33);
        font-size: 18px;
        font-weight: 600;
    }

    .container {
        width: 100%;
        height: 100vh;
        background-color: rgb(255, 255, 255);
        user-select: none;
    }

    .top-container {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 5px;
    }

    .hi-text {
        padding-top: 30px;
        padding-left: 20px;
        color: #1d4dd1;
    }

    .image-img {
        display: none;
    }

    .body {
        background-color: #a70fc5;
    }


    .bg-image {
        padding-left: 3px;
    }

    .item-center h2 {
        color: #a70fc5;
        font-size: 25px;
    }

    .histo {
        color: #28a7e2;
    }

    .ria {
        color: #4ae1e4;
    }

    .item-center {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: 15px;
        padding-top: 20px;
    }

}

/* ini buat tablet aja gasi? */
@media only screen and (min-width: 768px) {
    .check-box {
        padding-left: 20px;
        padding-top: 25px;
        display: flex;
        flex-direction: row;
    }

    .remember-me {
        padding-left: 10px;
        font-size: 13px;
        color: #423f3f;
        padding-top: 4px;
    }

    .forgot-pass {
        padding-left: 70px;
    }

    .forgot-pass a {
        font-size: 13px;
        text-decoration: none;
        color: #2a5ff1;
    }

    .input-check {
        padding-top: 1px;
    }

    .bg-image {
        padding-left: 35px;
    }

    .template-img {
        width: 750px;
        height: 750px;
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0 4px 6px -1px rgb(185, 181, 181);
    }

    .image-img {
        background: url('img/wpgif.gif') no-repeat;
        background-position: center;
        background-size: cover;
        width: 350px;
        height: 510px;
        border-radius: 10px;
    }

    .atur-img {
        padding-left: 20px;
        padding-top: 25px;
    }

    .hi-text {
        display: none;
    }

    .top-container {
        padding-top: 100px;
    }

    .item-center {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: 40px;
        padding-top: 24px;
    }

    .top-form1 {
        padding-top: 25px;
        padding-left: 20px;
    }
}

/* ini buat laptopnya , jangan salah */
@media only screen and (min-width: 992px) {
    .image1-sos {
        padding-top: 15px;
    }

    .row-social {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 20px;
        padding-left: 12px;
    }

    .button-login {
        padding-top: 20px;
        padding-left: 55px;
    }

    .input-login input {
        width: 280px;
        height: 38px;
        border-radius: 20px;
        outline: none;
        border: none;
        background-color: blueviolet;
        color: #fff;
        font-size: 15px;
        cursor: pointer;
    }

    .garis-kiri {
        width: 143px;
        height: 1px;
        background-color: #8f8989;
    }

    .atur-garisnya {
        padding-top: 14px;
    }

    .garis-or {
        padding-top: 20px;
        padding-left: 35px;
        display: flex;
        flex-direction: row;
        gap: 12px;
    }

    .social-media h4 {
        font-size: 13px;
        color: #504e4e;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: 14px;
        padding-top: 20px;
    }

    .image1-sos img {
        width: 30px;
        height: 30px;
        border-radius: 4px;
    }

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Poppins', sans-serif;
    }

    .check-box {
        padding-left: 37px;
        padding-top: 15px;
        display: flex;
        flex-direction: row;
    }

    .remember-me {
        padding-left: 10px;
        font-size: 13px;
        color: #423f3f;
        padding-top: 4px;
    }

    .forgot-pass {
        padding-left: 100px;
    }

    .forgot-pass a {
        font-size: 13px;
        text-decoration: none;
        color: #2a5ff1;
    }

    .input-check {
        padding-top: 1px;
    }

    .sign-intext {
        padding-left: 42px;
        padding-top: 15px;
    }

    .top-form {

        padding-left: 40px;
    }

    .top-form1 {
        padding-top: 30px;
        padding-left: 37px;
    }

    .row-form {
        display: flex;
        flex-direction: row;
        gap: 7px;
    }

    .border-form {
        width: 330px;
        height: 40px;
        border-bottom: 1px solid #d8d8d8;
    }

    .email {
        color: #a70fc5;
        font-size: 20px;
        padding-left: 5px;
        padding-top: 11px;
    }

    .input-text {
        padding-top: 3px;
    }

    .input-text input {
        width: 300px;
        height: 40px;
        border: none;
        background: none;
        outline: none;
    }

    .input-text input::placeholder {
        color: #b8b2b2;
    }

    .container {
        width: 100%;
        height: 100vh;
        background-color: rgb(250, 247, 247);
    }

    .image-img {
        background: url('img/wpgif.gif') no-repeat;
        background-position: center;
        background-size: cover;
        width: 400px;
        height: 510px;
        border-radius: 10px;
    }

    .template-img {
        width: 860px;
        height: 540px;
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0 4px 6px -1px rgb(185, 181, 181);
    }

    .top-container {
        padding-top: 50px;
    }

    .hi-text {
        display: none;
    }

    .atur-img {
        padding-left: 15px;
        padding-top: 15px;
    }


    .bg-image {
        padding-left: 233px;
    }

    .item-center h2 {
        color: #a70fc5;
        font-size: 30px;
    }

    .histo {
        color: #28a7e2;
    }

    .ria {
        color: #4ae1e4;
    }

    .row-card {
        display: flex;
        flex-direction: row;
    }

    .text-judul {
        justify-content: center;
        align-items: center;
    }

    .item-center {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: 23px;
        padding-top: 20px;
    }

}